<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="https://www.mariages.net/animation-mariage/kyoztu-anim-photobooth--e177113"
                            class="footer_link" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/award.jpg" class="footer_link-img" alt="award"
                                loading="lazy" />
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="https://www.mariages.net/animation-mariage/kyoztu-anim-photobooth--e177113"
                            class="footer_link" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/award1.jpg" class="footer_link-img" alt="award"
                                loading="lazy" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <h2 class="footer_content-title">Coordonnées</h2>
                    <a href="tel:{{site.data.company.phone}}" class="footer_content-link d-flex align-items-center"> <i
                            class="fas fa-phone mr-4"></i> {{site.data.company.phone}}</a>
                    <a href="" class="footer_content-link d-flex align-items-center"><i
                            class="fas fa-map-marker mr-4"></i> {{site.data.company.address}}</a>
                    <a href="mailto:{{site.data.company.email}}"
                        class="footer_content-link d-flex align-items-center"><i class="fas fa-envelope mr-4"></i>
                        {{site.data.company.email}}</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <h2 class="footer_content-title">Suivez-nous</h2>
                </div>
            </div>
        </div>
        <hr class="footer_border">
        <div class="text-center">
            <a href="" class="footer_border-p">BHInternet - Création site internet | 2022</a>
        </div>
    </div>
</footer>


<script src="../assets/js/index.js"></script>
<script src="../assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>